<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h2>This is an example page</h2>
    <p>Create new pages by adding them to the "/view/pages" folder. Note that they must have the ".ejs" extention.</p>
    <p>You can then link to them with "/page/yourpage"</p>
  </div>
</div>
