
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form role="form" method="post">
      <div class="form-group">
	<label for="inputUrl">URL</label>
	<input type="text" class="form-control" id="inputUrl" name="inputUrl" placeholder="Enter url">
	<label for="inputUrl">Title</label>
	<input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Give us a smashing title">
      </div>
      
      <input type="submit" class="btn btn-default" value="Submit"/>
    </form>
  </div>
</div>

